*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{ margin: 0; }
a{
    text-decoration: none;
    display: inline-block;
}
#hero{
    width: 1920px;
    height: 919px;
    padding: 264px 448px;
    background: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(../images/hero-bg.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}
#hero .overlay h4{
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
#hero .overlay h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 24px;
    color: #FFFFFF;
}
#hero .overlay p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
#hero .overlay .btn a{
    padding: 21px 32px 21px 32px;
    background: #52C303;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: 1px solid transparent;
    transition: .3s ease-in-out;
}
#hero .overlay .btn a:hover{
    color: #52C303;
    background: #FFFFFF;
    border-color: #52C303;
}
#favourite_food{
    padding: 167px 0 184px;
    text-align: center;
}
/* =======================Common CSS */
.container{
    width: 1320px;
    margin: 0 auto;
}
#favourite_food p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
    color: #101010;
}
#favourite_food h3{
    width: 691px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 48px;
    color: #101010;
}
#favourite_food .cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
#favourite_food .cards .card{
    width: 424px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#favourite_food .cards img{
    margin-bottom: 32px;
}
#favourite_food .cards .content h4{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    color: #101010;
    background: rgba(82, 195, 3, 0.15);
}
#favourite_food .cards .content h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    margin-bottom: 24px;
    color: #101010;
}
#favourite_food .cards .content p{
    width: 424px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #101010;
}
#favourite_food .btn a{
    padding: 21px 32px 21px 32px;
    background: #52C303;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: 1px solid transparent;
    transition: .3s ease-in-out;
}
#favourite_food .btn a:hover {
    color: #52C303;
    background: #FFFFFF;
    border-color: #52C303;
}
#good_food{
    width: 1920px;
    display: flex;
    margin: 0 auto;
}
#good_food .good_food_pic{
    width: 50%;
}
#good_food .good_food_pic img{
    width: 100%
}
#good_food .good_food_text{
    width: 50%;
    padding: 135px 53px 135px 77px;
}
#good_food .good_food_text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    margin-bottom: 24px;
    color: #101010;
}
#good_food .good_food_text p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-bottom: 48px;
    color: rgba(16, 16, 16,0.6);
}
#good_food .good_food_text h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin: 30px 0;
    color: rgba(16, 16, 16,0.7);
}
#good_food .good_food_text .social{
    width: 261px;
    margin: 32px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
#pizza{
    padding: 216px 0 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#pizza .cards img{
    margin-bottom: 32px;
}
#pizza .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pizza .card img{
    margin-bottom: 32px;
}
#pizza .card .content h4{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    color: #101010;
    background: rgba(82, 195, 3, 0.15);
}
#pizza .card .content h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    margin-bottom: 24px;
    color: #101010;
}
#pizza .card .content p{
    width: 424px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 64px;
    color: #101010;
}
#pizza .card .content .btn a{
    padding: 21px 32px 21px 32px;
    background: #52C303;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: 1px solid transparent;
    transition: .3s ease-in-out;
}
#pizza .card .content .btn a:hover {
    color: #52C303;
    background: #FFFFFF;
    border-color: #52C303;
}
#follow{
    width: 1920px;
    margin: 0 auto;
    position: relative;
}
#follow .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
}
#follow .overlay .follow_text{
    padding: 137px 0 134px;
}
#follow .overlay .follow_text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    margin-bottom: 24px;
    color: #101010;
}
#follow .overlay .follow_text p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-bottom: 48px;
    color: rgba(16, 16, 16,0.6);
}
#follow .overlay .follow_text h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin: 30px 0;
    color: rgba(16, 16, 16,0.7);
}
#follow .overlay .follow_text .social{
    width: 261px;
    margin: 32px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
#follow .overlay .follow_text .social a img{
    transition: .4s ease-in-out;
}
#follow .overlay .follow_text .social a img:hover{
    transform: scale(1.1);
}
#follow .social_img{
    /* background: url(../images/social-bg.png) no-repeat center; */
    /* background-size: cover; */
    width: 100%;
    /* height: 100%; */
    height: auto;
}